<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Chat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form>
          <div class="form-group">
            <label for="inputKey">User 1</label>
            <input type="text" class="form-control" id="inputUserOne" value="{{id}}">
          </div>
          <div class="form-group">
            <label for="editInputName">User 2</label>
            <input type="text" class="form-control" id="inputUserTwo" value="{{id}}">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary finish-create-chat">Create Chat</button>
      </div>
    </div>
  </div>
</div>