<div class="search-tag" data-role='search-tag'>
  <span class="input-value" data-role='search-value'>{{query}}</span> 
  <i class="fa fa-times-circle fa-lg" aria-hidden="true" data-role="search-clear"></i>
</div>